.story {
  &__pictures {
    background-color: $color-primary;
    grid-column: full-start / col-end 4;
  }

  &__content {
    background-color: $color-grey-light-1;
    grid-column: col-start 5 / full-end;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 6rem 8vw;
  }

  &__text {
    font-style: italic;
    margin-bottom: 4rem;
  }

  &__heading-3 {
    margin-bottom: 2rem;
  }

  &__heading-2 {
    margin-bottom: 3rem;
  }
}
